.adduser{
    padding: 30px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    border-radius: 10px;
    background-color: rgba(43, 43, 43, 0.903);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    width: max-content;
    height: max-content;
    margin: auto;
    z-index: 1;

    &:hover{
        background-color: rgba(43, 43, 43, 0.94);
        transition: 0.2s;
    }

    form{
        display: flex;
        gap: 20px;

        input{
            padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
        }

        button{
            padding: 15px;
            border-radius: 10px;
            background-color: rgba(85, 156, 255, 0.8);
            border: none;
            color: white;
            outline: none;
            cursor: pointer;
        }
    }

    .user{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .detail{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                width: 50px;
                height: 50px;
            }
        }

        button{
            padding: 10px;
            border-radius: 5px;
            background-color: rgba(85, 156, 255, 0.8);
            border: none;
            color: white;
            outline: none;
            cursor: pointer;
        }
    }
}